*{
    margin:0;
    padding:0

}
.main{
    width:20%;
    height:22px;
    display:flex;
    align-content: center;
    
    box-sizing: border-box;
    
}
table, th, td {
    border: 1px solid black;
  }
  body{
    text-align: center;
  }
  

  


